<div class="center jumbotron">
  <h1>Bem-vindo(a) ao sistema de bioinformática!</h1>

  <h2>
    Aplicação para didática de bioinformática.
  </h2>

  <%= link_to "Cadastre-se!", '#', class: "btn btn-lg btn-primary" %>
</div>
